.search-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .buttonSearch {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .buttonSearch:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  div.book {
    margin: 10px;
    width: 130px;
    height: 195px;
  }
  
  .book-title-box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
  }
  
  .book-title {
    margin: 0;
  }
  