@font-face {
  font-family: "Lato", "Lora-Regular", sans-serif;
  src: url(Lato-light.ttf);
  src: url(Lora-Regular.ttf);
}

.actualite {
  border-radius: 15px;
  border: 2px solid black;
  width: 65%;
  margin-right: 40px;
  box-shadow: 1px 3px 3px grey;
}

.actualite h2 {
  font-family: "Lato", sans-serif;
  margin-left: 10px;
}

.actualite p {
  font-family: "Lora", sans-serif;
  margin-left: 5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.horaires {
  border-radius: 15px;
  border: 2px solid black;
  width: 20%;
  box-shadow: 1px 3px 3px grey;
}

.horaires h2 {
  font-family: "Lato", sans-serif;
  margin-left: 10px;
}
.horaires p {
  font-family: "Lora-Regular", sans-serif;
  margin-left: 5px;
}

.evenements {
  border-radius: 15px;
  border: 2px solid black;
  width: 90%;
  margin-left: 80px;
  margin-top: 20px;
  box-shadow: 1px 3px 3px grey;
  display: flex;

}

.event {
  width : 80%;
}

.evenements h2 {
  font-family: "Lato", sans-serif;
  margin-left: 10px;
}

.evenements p {
  font-family: "Lora-Regular", sans-serif;
  margin-left: 5px;
  width: 90%;
  text-justify: auto;
  font-size: 1em;
}

.carousel {
  width : 40%;
}
.nouveautes {
  border-radius: 15px;
  border: 1px solid black;
  width: 12%;
  margin-left: 80px;
  margin-top: 20px;
  box-shadow: 1px 3px 3px grey;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  text-align: center;
}

.lesplusempruntes {
  border-radius: 15px;
  border: 1px solid black;
  width: 12%;
  margin-left: 80px;
  margin-top: 20px;
  box-shadow: 1px 3px 3px grey;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  text-align: center;
  
}

.noscoupsdecoeur {
  border-radius: 15px;
  border: 1px solid black;
  width: 12%;
  margin-left: 80px;
  margin-top: 20px;
  box-shadow: 1px 3px 3px grey;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  text-align: center;

}

.nouveauteslivres {
  display: flex;
  width: 250px; 
  height: 250px; 
  margin-left: 80px;
  margin-top: 20px;
  gap: 10%;

}

.book {
transition: transform .2s;
border-radius: 10px;
}

.book:hover {
transform: scale(1.05);
cursor: pointer;
}

.books-container {
  display: flex;
  width: 250px; 
  height: 250px; 
  margin-left: 80px;
  margin-top: 20px;
  gap: 10%;

}

.book-img {
  display: flex;
  margin-top: 50px;
  margin-left: 80px;
  width: 500px;
  height: 750px;

}

.description {
  display: flex;
}

.description h2 {
  font-family: "Lato", sans-serif;
  margin-left: 10px;
}

.description p {
  font-family: "Lora-Regular", sans-serif;
  margin-left: 5px;
}
