@font-face {
  font-family: "Lato", sans-serif;
  src: url(Lato-light.ttf);
}

header.header {
  display: flex;
  background-color: black;

  
  img.logo {
    width: 125px;
    padding-left: 40px;
    border-radius: 15px;
  }

  nav.nav {
    display: flex;
    align-items: center;
  }
  
  ul {
    display: flex;
    gap: 20%;
  }
  
  li {
    list-style: none;
    font-family: "Lato", sans-serif;
    
  }
  
  a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 15px;
    border-radius: 5px;

   
  }

  a:hover {
    background-color: whitesmoke;
    color: black;
    filter: drop-shadow(0 0 0.3rem whitesmoke);
  }
  
}

