
  
  .logo {
    height: auto;
    width: 120px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .button-container {
    margin-left: auto;
  }
  
  .nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
  }